node_modules
dontgit

config
data/todayNews
data/randomPixivImg
data/chatLibrary/temp
data/blue-archive
data/tarotCards

*test.js
*customize.js

data/apitoken.json

package.json

*.zip
*.tar
*.tar.gz