
# 文件夹
dontgit
config
data/todayNews
data/randomPixivImg
data/blue-archive
data/tarotCards
data/apitoken.json

# 后缀名通配
*.zip
*.tar
*.tar.gz
*.jar

# 指定文件
package.json
*test.js
*customize.js